.App {
  text-align: center;
  height : "100%";
}

.App-logo {
  height: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

a:link, a:visited {
  background-color: grey;
  color: white;
  padding: 14px 25px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: pink;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  position: auto;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white ;
  color: #a9a9a9 ;
  text-align: center;
}
