.App {
  text-align: center;
  height : "100%";
}

.App-logo {
  height: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  position: auto;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white ;
  color: white ;
  text-align: center;
}

/* SideNavigation.css */
.side-navigation {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the menu */
  /* Add any other styling as needed */
}

.styled-paragraph {
  font-family: Arial, sans-serif; 
  font-size: 13px;              
  color: #333;              
  line-height: 1.6;              
  margin: 20px 0;              
  padding: 10px 15px;            
  background-color: #f9f9f9;       
  border: 1px solid #ddd;        
  border-radius: 5px;            
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  
}